<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo a <%= title %></p>

    <a href="https://accounts.spotify.com/authorize?client_id=07380f93dd354262bf08acb5a3c4238f&response_type=code&redirect_uri=https%3A%2F%2Fmutuals-playlist.herokuapp.com%2Fredirect&scope=playlist-modify-private%20playlist-modify-public&state=specialstate">Autorizar Spotify</a>
  </body>
</html>