<!DOCTYPE html>
<html>
  <head>
    <title>Mutuals</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <h1>Mutuals</h1>
    <p>Esses são os mutuals</p>

    <p><%= mutuals %></p>
  </body>
</html>