<!DOCTYPE html>
<html>
  <head>
    <title>Tweet To Spotify</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Autorizado pelo Spotify</p>
    <form action="POST">
        <label for="twitter-handle">Twitter Handle</label>
        <input type="text" name="twitter-handle">
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
