<!DOCTYPE html>
<html>
  <head>
    <title>Tweet To Spotify</title>
    <link rel='stylesheet' href='/style.css' />
  </head>
  <body>
    <p>Autorizado pelo Spotify</p>
    <form action="/twitter" method="post">
        <label for="twitterHandle">Twitter Handle</label>
        <input type="text" name="twitterHandle">
        <button type="submit">Submit</button>
    </form>
  </body>
</html>
